[include]
	path = .gitremotes
	path = .borgconfig
[submodule "ace-window"]
	path = lib/ace-window
	url = https://github.com/abo-abo/ace-window
[submodule "all-the-icons"]
	path = lib/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el
[submodule "async"]
	path = lib/async
	url = https://github.com/jwiegley/emacs-async
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "breadcrumb"]
	path = lib/breadcrumb
	url = https://github.com/joaotavora/breadcrumb
[submodule "browse-at-remote"]
	path = lib/browse-at-remote
	url = https://github.com/rmuslimov/browse-at-remote
[submodule "cider"]
	path = lib/cider
	url = https://github.com/clojure-emacs/cider
[submodule "clojure-mode"]
	path = lib/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode
[submodule "clojure-ts-mode"]
	path = lib/clojure-ts-mode
	url = https://github.com/clojure-emacs/clojure-ts-mode
[submodule "closql"]
	path = lib/closql
	url = git@github.com:magit/closql.git
[submodule "compat"]
	path = lib/compat
	url = git@github.com:emacs-compat/compat.git
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult
[submodule "corfu"]
	path = lib/corfu
	url = https://github.com/minad/corfu
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "deadgrep"]
	path = lib/deadgrep
	url = https://github.com/Wilfred/deadgrep
[submodule "delight"]
	path = lib/delight
	url = git@github.com:emacsmirror/delight.git
[submodule "denote"]
	path = lib/denote
	url = https://git.sr.ht/~protesilaos/denote
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "dirvish"]
	path = lib/dirvish
	url = https://github.com/alexluigit/dirvish
[submodule "dockerfile-mode"]
	path = lib/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode
[submodule "doom-themes"]
	path = lib/doom-themes
	url = https://github.com/doomemacs/themes
[submodule "eglot-tempel"]
	path = lib/eglot-tempel
	url = https://github.com/fejfighter/eglot-tempel
[submodule "ellama"]
	path = lib/ellama
	url = https://github.com/s-kostyaev/ellama
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:magit/emacsql.git
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark
[submodule "envrc"]
	path = lib/envrc
	url = https://github.com/purcell/envrc
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "esup"]
	path = lib/esup
	url = https://github.com/jschaf/esup
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "go-mode"]
	path = lib/go-mode
	url = https://github.com/dominikh/go-mode.el
[submodule "gptel"]
	path = lib/gptel
	url = https://github.com/karthink/gptel
[submodule "graphql-ts-mode"]
	path = lib/graphql-ts-mode
	url = https://git.sr.ht/~joram/graphql-ts-mode
[submodule "haskell-ts-mode"]
	path = lib/haskell-ts-mode
	url = https://codeberg.org/pranshu/haskell-ts-mode
[submodule "hcl-mode"]
	path = lib/hcl-mode
	url = https://github.com/hcl-emacs/hcl-mode
[submodule "highlight-indent-guides"]
	path = lib/highlight-indent-guides
	url = https://github.com/DarthFennec/highlight-indent-guides
[submodule "hl-todo"]
	path = lib/hl-todo
	url = https://github.com/tarsius/hl-todo
[submodule "ht"]
	path = lib/ht
	url = https://github.com/Wilfred/ht.el
[submodule "ibuffer-project"]
	path = lib/ibuffer-project
	url = https://github.com/muffinmad/emacs-ibuffer-project
[submodule "inf-clojure"]
	path = lib/inf-clojure
	url = https://github.com/clojure-emacs/inf-clojure
[submodule "inheritenv"]
	path = lib/inheritenv
	url = https://github.com/purcell/inheritenv
[submodule "jarchive"]
	path = lib/jarchive
	url = https://git.sr.ht/~dannyfreeman/jarchive
[submodule "jinx"]
	path = lib/jinx
	url = https://github.com/minad/jinx
[submodule "kaocha-runner"]
	path = lib/kaocha-runner
	url = https://github.com/magnars/kaocha-runner.el
[submodule "know-your-http-well"]
	path = lib/know-your-http-well
	url = https://github.com/for-GET/know-your-http-well
[submodule "ligature"]
	path = lib/ligature
	url = https://github.com/mickeynp/ligature.el
[submodule "literate-calc-mode"]
	path = lib/literate-calc-mode
	url = https://github.com/sulami/literate-calc-mode.el
[submodule "llama"]
	path = lib/llama
	url = https://github.com/tarsius/llama
[submodule "llm"]
	path = lib/llm
	url = https://github.com/ahyatt/llm
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
[submodule "magit-todos"]
	path = lib/magit-todos
	url = https://github.com/alphapapa/magit-todos
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "meow"]
	path = lib/meow
	url = https://github.com/meow-edit/meow
[submodule "ns-auto-titlebar"]
	path = lib/ns-auto-titlebar
	url = https://github.com/purcell/ns-auto-titlebar
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless
[submodule "org-modern"]
	path = lib/org-modern
	url = https://github.com/minad/org-modern
[submodule "ox-pandoc"]
	path = lib/ox-pandoc
	url = https://github.com/emacsorphanage/ox-pandoc
[submodule "paredit"]
	path = lib/paredit
	url = https://mumble.net/~campbell/git/paredit.git
[submodule "parseclj"]
	path = lib/parseclj
	url = https://github.com/clojure-emacs/parseclj
[submodule "parseedn"]
	path = lib/parseedn
	url = https://github.com/clojure-emacs/parseedn
[submodule "pcre2el"]
	path = lib/pcre2el
	url = https://github.com/joddie/pcre2el
[submodule "plz"]
	path = lib/plz
	url = https://github.com/alphapapa/plz.el
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe
[submodule "prettier-js"]
	path = lib/prettier-js
	url = https://github.com/prettier/prettier-emacs
[submodule "puni"]
	path = lib/puni
	url = https://github.com/AmaiKinono/puni
[submodule "queue"]
	path = lib/queue
	url = git@github.com:emacsmirror/queue.git
[submodule "reformatter"]
	path = lib/reformatter
	url = https://github.com/purcell/emacs-reformatter
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el
[submodule "sesman"]
	path = lib/sesman
	url = https://github.com/vspinu/sesman
[submodule "spinner"]
	path = lib/spinner
	url = https://github.com/Malabarba/spinner.el
[submodule "sqlformat"]
	path = lib/sqlformat
	url = https://github.com/purcell/sqlformat
[submodule "sqlite3"]
	path = lib/sqlite3
	url = git@github.com:pekingduck/emacs-sqlite3-api.git
[submodule "string-inflection"]
	path = lib/string-inflection
	url = https://github.com/akicho8/string-inflection
[submodule "tempel"]
	path = lib/tempel
	url = https://github.com/minad/tempel
[submodule "terraform-mode"]
	path = lib/terraform-mode
	url = https://github.com/hcl-emacs/terraform-mode
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico
[submodule "vertico-posframe"]
	path = lib/vertico-posframe
	url = https://github.com/tumashu/vertico-posframe
[submodule "vterm"]
	path = lib/vterm
	url = https://github.com/akermu/emacs-libvterm
[submodule "wgrep"]
	path = lib/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep
[submodule "which-key"]
	path = lib/which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "zprint-format"]
	path = lib/zprint-format
	url = https://github.com/dpassen/zprint-format
